@page
@model TorneoFutbolistico.App.Frontend.Pages.DirectoresTecnicos.CreateModel
@{
}
<h1>Nuevo DirectorTecnico</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="DirectorTecnico.Nombre"></label>
        <input asp-for="DirectorTecnico.Nombre" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="DirectorTecnico.Apellidos"></label>
        <input asp-for="DirectorTecnico.Apellidos" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="DirectorTecnico.Documento"></label>
        <input asp-for="DirectorTecnico.Documento" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="DirectorTecnico.NumeroTelefono"></label>
        <input asp-for="DirectorTecnico.NumeroTelefono" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Crear DirectorTecnico</button>
</form>
<a class="btn btn-secondary" asp-page="./Index">Volver</a>
