@page
@model TorneoFutbolistico.App.Frontend.Pages.DirectoresTecnicos.EditModel
@{
}
<h1>Editar DirectorTecnico</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="directorTecnico.Id_DS"></label>
        <input asp-for="directorTecnico.Id_DS" class="form-control"readonly>
    </div>
    <div class="form-group">
        <label asp-for="directorTecnico.Nombre"></label>
        <input asp-for="directorTecnico.Nombre" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="directorTecnico.Apellidos"></label>
        <input asp-for="directorTecnico.Apellidos" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="directorTecnico.Documento"></label>
        <input asp-for="directorTecnico.Documento" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="directorTecnico.NumeroTelefono"></label>
        <input asp-for="directorTecnico.NumeroTelefono" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Editar DirectorTecnico</button>
</form>
<a class="btn btn-secondary" asp-page="./Index">Volver</a>