@page
@model TorneoFutbolistico.App.Frontend.Pages.Municipios.AddEquipoModel
@{
}
<h1>Asignar Equipo</h1>
<form method="post">
    <div class="form-group">
        <label for="idMunicipio">Municipio</label>
        <input type="text" id="idMunicipio" name="idMunicipio" class="form-control" value="@Model.municipio.Id" readonly>
    </div>
    <div class="form-group">
        <label for="idEquipo">Equipo</label>
        <select name="idEquipo" id="idEquipo" class="form-control">
            @foreach (var equipo in Model.equipos)
            {
                <option value="@equipo.Id">@equipo.NombreEquipo</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Asignar Equipo</button>
</form>
<a class="btn btn-secondary" asp-page="./Index">Volver</a>