@page
@model TorneoFutbolistico.App.Frontend.Pages.Arbitros.CreateModel
@{
}
<h1>Nuevo Arbitro</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="Arbitro.Nombre"></label>
        <input asp-for="Arbitro.Nombre" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Arbitro.Apellidos"></label>
        <input asp-for="Arbitro.Apellidos" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Arbitro.Documento"></label>
        <input asp-for="Arbitro.Documento" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Arbitro.NumeroTelefono"></label>
        <input asp-for="Arbitro.NumeroTelefono" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Arbitro.Colegio"></label>
        <input asp-for="Arbitro.Colegio" class="form-control">
    </div>
        
    <button type="submit" class="btn btn-primary">Crear Arbitro</button>
</form>
<a class="btn btn-secondary" asp-page="./Index">Volver</a>
