@page
@model TorneoFutbolistico.App.Frontend.Pages.Arbitros.EditModel
@{
}
<h1>Editar Arbitro</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="arbitro.id"></label>
        <input asp-for="arbitro.id" class="form-control"readonly>
    </div>
    <div class="form-group">
        <label asp-for="arbitro.Nombre"></label>
        <input asp-for="arbitro.Nombre" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="arbitro.Apellidos"></label>
        <input asp-for="arbitro.Apellidos" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="arbitro.Documento"></label>
        <input asp-for="arbitro.Documento" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="arbitro.NumeroTelefono"></label>
        <input asp-for="arbitro.NumeroTelefono" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="arbitro.Colegio"></label>
        <input asp-for="arbitro.Colegio" class="form-control">
    </div>
        
    <button type="submit" class="btn btn-primary">Editar Arbitro</button>
</form>
<a class="btn btn-secondary" asp-page="./Index">Volver</a>
