@page
@model TorneoFutbolistico.App.Frontend.Pages.Equipos.DetailsModel
@{
}
<h1>Detalles Equipos</h1>
<table class="table table-dark">
    <tr>
        <th scope="col">NombreEquipo</th>
        <td>@Model.equipo.NombreEquipo</td>
    </tr>
    <tr>
        <th scope="col">Desempeño</th>
        @if(Model.equipo.Desempeño == null)
        {
            <td>
                <a class="btn btn-primary" asp-page="./AddDesempeño" asp-route-Id="@Model.equipo.Id">Asignar Desempeño</a>
            </td>
        }
        else
        {
            <td>@Model.equipo.Desempeño.Puntos</td>
        }
    </tr>
</table>
<a class="btn btn-primary" asp-page="./Index">Volver</a>