@page
@model TorneoFutbolistico.App.Frontend.Pages.Jugadores.EditModel
@{
}
<h1>Editar Jugador</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="Jugador.Id_P"></label>
        <input asp-for="Jugador.Id_P" class="form-control"readonly>
    </div>
    <div class="form-group">
        <label asp-for="Jugador.Nombre"></label>
        <input asp-for="Jugador.Nombre" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Jugador.Apellidos"></label>
        <input asp-for="Jugador.Apellidos" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Jugador.Documento"></label>
        <input asp-for="Jugador.Documento" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Jugador.NumeroTelefono"></label>
        <input asp-for="Jugador.NumeroTelefono" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Jugador.Numero"></label>
        <input asp-for="Jugador.Numero" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Jugador.Posicion"></label>
        <input asp-for="Jugador.Posicion" class="form-control">
    </div>
    
    <button type="submit" class="btn btn-primary">Editar Jugador</button>
</form>
<a class="btn btn-secondary" asp-page="./Index">Volver</a>