@page
@model TorneoFutbolistico.App.Frontend.Pages.Desempeños.IndexModel
@{
}
<h1>Listado de Desempeños</h1>
@if (User.Identity.IsAuthenticated)
{
    <a class="btn btn-primary" asp-page="./Create" >Nuevo Desempeño</a>
}
<td>
                @*<a class="btn btn-primary" asp-page="./Create" >Nuevo Desempeño</a>*@
                <table class="table"></table>
              </td>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">PartidosJugados</th>
      <th scope="col">PartidosGanados</th>
      <th scope="col">PartidosPerdidos</th>
      <th scope="col">GolesFavor</th>
      <th scope="col">GolesContra</th>
      <th scope="col">Puntos</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
      @foreach (var Desempeño in Model.Desempeños)
      {
          <tr>
              <td>@Desempeño.PartidosJugados</td>
              <td>@Desempeño.PartidosGanados</td>
              <td>@Desempeño.PartidosPerdidos</td>
              <td>@Desempeño.GolesFavor</td>
              <td>@Desempeño.GolesContra</td>
              <td>@Desempeño.Puntos</td>
              <td>
                <a class="btn btn-primary" asp-page="./Details" asp-route-Id="@Desempeño.Id">Detalle</a>
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="btn btn-primary" asp-page="./Edit" asp-route-Id="@Desempeño.Id">Editar</a>
                }
                @*<a class="btn btn-primary" asp-page="./Edit" asp-route-Id="@Desempeño.Id">Editar</a>*@
                
              </td>
          </tr>
      }
  </tbody>
</table>